{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans le blog</h1>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur dolorem est facilis magni nihil nobis
        quisquam quo, sint soluta! Adipisci commodi, corporis dolorem expedita incidunt libero minus natus odit omnis quam
        quasi quibusdam quo saepe suscipit ut. Ex, nostrum!</p>
    <p>Accusantium asperiores, consequatur et eum exercitationem
        harum inventore minus nihil quod sit tenetur voluptatem. Beatae consequuntur, distinctio libero maxime nemo
        repellat? Ad amet dolor odit praesentium sed sit voluptatum? Accusamus consequuntur debitis ex ipsa iure libero
        natus nihil porro quod.</p>

{% endblock %}